<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Paid confirmed</title>

  <style type="text/css">
      body {
          margin: 0;
          padding: 0;
      }

      img {
          border: 0px;
          display: block;
      }

      .long-text p {
          margin: 1em 0px;
      }

      .long-text p:last-child {
          margin-bottom: 0px;
      }

      .long-text p:first-child {
          margin-top: 0px;
      }
  </style>
  <style type="text/css">
      /* yahoo, hotmail */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
          line-height: 100%;
      }

      .yshortcuts a {
          border-bottom: none !important;
      }

      .vb-outer {
          min-width: 0 !important;
      }

      .RMsgBdy, .ExternalClass {
          width: 100%;
          background-color: #3f3f3f;
          background-color: #3f3f3f
      }

      /* outlook/office365 add buttons outside not-linked images and safari have 2px margin */
      [o365] button {
          margin: 0 !important;
      }

      /* outlook */
      table {
          mso-table-rspace: 0pt;
          mso-table-lspace: 0pt;
      }

      #outlook a {
          padding: 0;
      }

      img {
          outline: none;
          text-decoration: none;
          border: none;
          -ms-interpolation-mode: bicubic;
      }

      a img {
          border: none;
      }

      @media screen and (max-width: 600px) {
          table.vb-container, table.vb-row {
              width: 95% !important;
          }

          .mobile-hide {
              display: none !important;
          }

          .mobile-textcenter {
              text-align: center !important;
          }

          .mobile-full {
              width: 100% !important;
              max-width: none !important;
          }
      }

      /* previously used also screen and (max-device-width: 600px) but Yahoo Mail doesn't support multiple queries */
  </style>
  <style type="text/css">

      #ko_footerBlock_2 .links-color a, #ko_footerBlock_2 .links-color a:link, #ko_footerBlock_2 .links-color a:visited, #ko_footerBlock_2 .links-color a:hover {
          color: #cccccc;
          color: #cccccc;
          text-decoration: underline
      }
  </style>

</head>
<!--[if !(gte mso 16)]-->
<body bgcolor="#3f3f3f" text="#919191" alink="#cccccc" vlink="#cccccc"
      style="margin: 0; padding: 0; background-color: #3f3f3f; color: #919191;">
<!--<![endif]-->
<center>

  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_logoBlock_4">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="9"
                 style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px; max-width: 570px; -mru-width: 0px;"
                 width="570" class="vb-row">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0;">
                <div style="vertical-align: top; width: 100%; max-width: 184px; -mru-width: 0px;"><!--
        -->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0" width="184"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;">

                    <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center" class="links-color"><!--[if (lte ie 8)]>
                        <div style="display: inline-block; width: 166px; -mru-width: 0px;"><![endif]--><a target="_new"
                                                                                                          href="https://sistema.reservandonos.com/#/rsv/auth/login"><img
                            border="0" hspace="0" align="center" vspace="0" width="166"
                            style="border: 0px; display: block; vertical-align: top; height: auto; margin: 0 auto; color: #e83e58; font-size: 18px; font-family: Arial, Helvetica, sans-serif; width: 100%; max-width: 166px; height: auto;"
                            src="https://apitest.bookercontrol.com/assets/images/logo-partners-red.png"></a>
                        <!--[if (lte ie 8)]></div><![endif]--></td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->

      </td>
    </tr>
    </tbody>
  </table>
  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_titleBlock_5">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="570"
                 class="vb-row"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0; padding: 0 9px;">
                <div style="vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;">
                  <!---->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;"
                         width="552">
                    <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center"
                          style="font-weight: normal; color: #000000; font-size: 20px; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        <span style="font-weight: normal;">
                          <strong>¡Se ha procesado tu </strong><br>
                          <strong>pago correctamente!</strong>
                        </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>
  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_titleBlock_6">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="570"
                 class="vb-row"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0; padding: 0 9px;">
                <div style="vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;"><!--
        -->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;"
                         width="552">

                    <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center"
                          style="font-weight: normal; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        <span style="font-weight: normal;">Hemos recibido tu pago con éxito<br><br>¡Gracias por realizar tu pago!<br></span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>

  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_titleBlock_7">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="570"
                 class="vb-row"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0; padding: 0 9px;">
                <div style="vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;"><!--
        -->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;"
                         width="552">

                    <tbody>

                    <tr>
                      <td width="35%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          <strong>Concepto: </strong><br>
                        </span>
                      </td>
                      <td width="65%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          {{ concept }}<br>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td width="35%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          <strong>Método de Pago: </strong><br>
                        </span>
                      </td>
                      <td width="65%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          {{ method }}<br>
                        </span>
                      </td>
                    </tr>
                    {{#if link}}
                    <tr>
                      <td width="35%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          <strong>Link del Valet: </strong><br>
                        </span>
                      </td>
                      <td width="65%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <a style="font-weight: normal;" href="{{link}}">
                          Pulsa Aquí<br>
                        </a>
                      </td>
                    </tr>
                    {{/if}}

                    {{#if card}}
                      <tr>
                        <td width="35%" valign="top" align="left"
                            style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          <strong>Tarjeta: </strong><br>
                        </span>
                        </td>
                        <td width="65%" valign="top" align="left"
                            style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          {{ card }}<br>
                        </span>
                        </td>
                      </tr>
                    {{/if}}
                    <tr>
                      <td width="35%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          <strong>Monto Pagado: </strong><br>
                        </span>
                      </td>
                      <td width="65%" valign="top" align="left"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: left;
                                padding-top: 10px;">
                        <span style="font-weight: normal;">
                          {{ amount }}<br>
                        </span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>

  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_titleBlock_8">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="570"
                 class="vb-row"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0; padding: 0 9px;">
                <div style="vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;"><!--
        -->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;"
                         width="552">

                    <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center"
                          style="font-weight: normal; color: #000000; font-size: 18px; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        <span style="font-weight: normal;">Puedes seguir disfrutando de nuestra plataforma<br>Gracias por utilizar Reservándonos<br></span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>
  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_titleBlock_9">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="570"
                 class="vb-row"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 0px; border-spacing: 0px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td align="center" valign="top" style="font-size: 0; padding: 0 9px;">
                <div style="vertical-align: top; width: 100%; max-width: 552px; -mru-width: 0px;"><!--
        -->
                  <table role="presentation" class="vb-content" border="0" cellspacing="9" cellpadding="0"
                         style="border-collapse: separate; width: 100%; mso-cellspacing: 9px; border-spacing: 9px;"
                         width="552">

                    <tbody>
                    <tr>
                      <td width="100%" valign="top" align="center"
                          style="font-weight: normal; color: #000000; font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        <span style="font-weight: normal;">Para cualquier duda o aclaración favor de comunicarte al {{ numero }}</span>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>
  <table role="presentation" class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff"
         style="background-color: #ffffff;" id="ko_buttonBlock_10">
    <tbody>
    <tr>
      <td class="vb-outer" align="center" valign="top" style="padding-left: 9px; padding-right: 9px; font-size: 0;">
        <!--[if (gte mso 9)|(lte ie 8)]>
        <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570">
          <tr>
            <td align="center" valign="top"><![endif]--><!--
      -->
        <div style="margin: 0 auto; max-width: 570px; -mru-width: 0px;">
          <table role="presentation" border="0" cellpadding="0" cellspacing="18" bgcolor="#ffffff" width="570"
                 class="vb-container"
                 style="border-collapse: separate; width: 100%; background-color: #ffffff; mso-cellspacing: 18px; border-spacing: 18px; max-width: 570px; -mru-width: 0px;">

            <tbody>
            <tr>
              <td valign="top" align="center">
                <table role="presentation" cellpadding="12" border="0" align="center" cellspacing="0"
                       style="border-spacing: 0; mso-padding-alt: 12px 12px 12px 12px;">
                  <tbody>
                  <tr>
                    <td width="auto" valign="middle" align="center" bgcolor="#595959"
                        style="text-align: center; font-weight: normal; padding: 12px; padding-left: 14px; padding-right: 14px; background-color: #595959; color: #ffffff; font-size: 22px; font-family: Arial, Helvetica, sans-serif; border-radius: 1px;">
                      <a style="text-decoration: none; font-weight: normal; color: #ffffff; font-size: 22px; font-family: Arial, Helvetica, sans-serif;"
                         target="_new" href="https://sistema.reservandonos.com/#/rsv/auth/login"><strong>Entrar</strong></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            </tbody>
          </table>
        </div><!--
    --><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
      </td>
    </tr>
    </tbody>
  </table>

</center>
<!--[if !(gte mso 16)]-->
</body>
<!--<![endif]-->
</html>
