@font-face {
  font-family: Omnes;
  src: url("omnes-extralight-webfont.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Omnes;
  src: url("omnes-light-webfont.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Omnes;
  src: url("./omnes-regular-webfont.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Omnes;
  src: url("omnes-medium-webfont.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Omnes;
  src: url("omnes-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
}
