<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDF</title>
  <link rel="stylesheet" href="{{ loadResource 'assets/fonts/fonts.css' }}">
  <style>
    html, body {
      font-family: 'Omnes', sans-serif;
      font-size: 12px;
      line-height: 1.25;
      width: 297mm;
      padding: 0;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      margin: 0;
      padding: 5px;
      border: 1px solid;
      text-transform: capitalize;
    }

    table tr:nth-child(odd) {
      background-color: #d7d2d2;
    }

    table tr:nth-child(even) {
      background-color: #fff;
    }

    table {
      page-break-inside: auto
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }

    img {
      width: 300px;
      background-color: #e94364;
      margin: 10px 0;
      padding: 5px;
    }
  </style>
</head>
<body>
<header style="display: flex; justify-content: space-between; align-items: center;">
  <img src="{{ loadResource 'assets/images/reservandonos.png' }}">
  <p style="font-size: 18px">
    {{ title }}
  </p>
</header>
<table>
  <thead>
  <tr>
    <th>sitio</th>
    <th>renta sistema</th>
    <th>Costo x Reservandonos PAX</th>
    <th>sub total</th>
    <th>Costo x Google PAX</th>
    <th>sub total</th>
    <th>medios PAX</th>
    <th>Coca-Colas entregadas</th>
    <th>Descuento por Coca-Colas</th>
    <th>sub total</th>
    <th>iva</th>
    <th>total facturación</th>
  </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <td>{{ name }}</td>
      <td>${{ monthlyPlanPrice }}</td>
      <td>
        {{#each resumeByPartner.reservandonos.others }}
          <div style="text-align: center;">{{ key }} x {{ people }}</div>
        {{/each}}
        {{#unless resumeByPartner.reservandonos.others }}$0{{/unless}}
      </td>
      <td>
        {{#each resumeByPartner.reservandonos.others }}
          <div style="text-align: center;">${{ amount }}</div>
        {{/each}}
        {{#unless resumeByPartner.reservandonos.others }}$0{{/unless}}
      </td>
      <td>
        {{#each resumeByPartner.reservandonos.google }}
          <div style="text-align: center;">{{ key }} x {{ people }}</div>
        {{/each}}
        {{#unless resumeByPartner.reservandonos.google }}$0{{/unless}}
      </td>
      <td>
        {{#each resumeByPartner.reservandonos.google }}
          <div style="text-align: center;">${{ amount }}</div>
        {{/each}}
        {{#unless resumeByPartner.reservandonos.google }}$0{{/unless}}
      </td>
      <td>
        {{#if resumeByPartner.others }}
          {{ resumeByPartner.others }}
        {{/if}}
        {{#unless resumeByPartner.others }}0{{/unless}}
      </td>
      <td>{{ resumeCocaCola.delivered }}</td>
      <td>${{ resumeCocaCola.total }}</td>
      <td>${{ subtotal }}</td>
      <td>${{ iva }}</td>
      <td>${{ total }}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</body>
</html>
