<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDF</title>
  <link rel="stylesheet" href="{{ loadResource 'assets/fonts/fonts.css' }}">
  <style>
    html, body {
      font-family: 'Omnes', sans-serif;
      font-size: 12px;
      line-height: 1.25;
      width: 297mm;
      padding: 0;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      margin: 0;
      padding: 5px;
      border: 1px solid lightgray;
      text-transform: capitalize;
    }

    table tr:nth-child(odd) {
      background-color: #eeecec;
    }

    table tr:nth-child(even) {
      background-color: #fff;
    }

    table {
      page-break-inside: auto
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }

    img {
      width: 300px;
      background-color: #e94364;
      margin: 10px 0;
      padding: 5px;
    }
    thead th,
    tfoot td {
      font-weight: bold;
      background: #e43d59;
      color: white;
    }
  </style>
</head>
<body>
<header style="display: flex; justify-content: space-between; align-items: center;">
  <img src="{{ loadResource 'assets/images/reservandonos.png' }}">
  <p style="font-size: 18px;">{{ title }}</p>
  <p style="font-size: 18px;">Total de pagos realizados: {{ paymentsTotal }}</p>
</header>
<table>
  <thead>
  <tr>
    <th>Sitio - Corte</th>
    <th>Fecha de pago</th>
    <th>Vendedor</th>
    <th>Comisiones</th>
    <th>Iva</th>
    <th>Coca-Colas</th>
    <th>Descuentos</th>
    <th>Subtotal</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  {{#each rows}}
    <tr>
      <td style="text-align: left">{{ descriptionCut }}</td>
      <td>{{ paymentDate }}</td>
      <td>{{ nameSeller }}</td>
      <td>${{ commissionsByChargeWithoutIva }}</td>
      <td>${{ iva }}</td>
      <td>{{ cocaColaDelivered }}</td>
      <td>${{ commissionsByCocaCola }}</td>
      <td>${{ totalWithoutIva }}</td>
      <td>${{ totalWithIva }}
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">Totales:</td>
    <td>${{ totalByChargeWithoutIva }} </td>
    <td>${{ totalIva }} </td>
    <td>{{ totalCocaColaDelivered }}</td>
    <td>${{ totalCommissionsCocaCola }}</td>
    <td>${{ totalWithDiscountWithoutIva }} </td>
    <td>${{ totalWithDiscountWithIva }} </td>
  </tr>
  </tfoot>
</table>
</body>
</html>
