<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDF</title>
  <link rel="stylesheet" href="{{ loadResource '/assets/fonts/fonts.css' }}">
  <style>
    html, body {
      font-family: 'Omnes', sans-serif;
      font-size: 18px;
      line-height: 1.25;
      width: 204mm;
      margin: 5px;
      padding: 0;
    }

    header {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div.red {
      background: rgba(253, 35, 35, 0.93);
      border-radius: 10px;
      color: white;
      padding: 10px 0 40px;
      width: 100%;
      text-align: center;
    }

    header div.red h1 {
      font-size: 24px;
    }
    header > div:last-child {
      background: white;
      padding: 20px;
      border: 1px solid black;
      position: absolute;
      bottom: -30px;
      width: 300px;
      text-align: center;
      border-radius: 10px;
      font-size: 15px;
    }

    main {
      margin: 50px;
      text-align: center;
    }

    #invitation {
      font-size: 14px;
    }

    #restaurante {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      align-items: center;
      margin: 50px 0px;
    }

    #restaurante .logo {
      width: 140px;
      max-height: 140px;
    }

    #restaurante .description h3 {
      text-align: left;
      margin: 10px 0;
      font-size: 18px;
    }

    #restaurante .description h5 {
      margin: 10px 0;
      font-weight: inherit;
      font-size: 14px;
    }


    #promotion {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      margin: 50px 0px;
    }

    #promotion .left {
      width: 160px;
      padding: 10px;
      border: 2px solid red;
      border-radius: 4px;
    }

    #promotion .left .logo {
      width: 100%;
      max-height: 140px;
      border-radius: 10px;
    }

    #promotion .left p {
      font-weight: bold;
      margin: 0;
      text-align: center;
    }

    #promotion .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    #promotion .description {
    }

    #promotion .description h3 {
      text-align: left;
      margin: 10px 0;
      font-size: 18px;
    }

    #promotion .description h5 {
      margin: 10px 0;
      text-align: left;
      font-weight: inherit;
      font-size: 14px;
    }

    #code {
      font-size: 18px;
      text-align: left;
    }

    #code strong {
      font-size: 18px;
      color: rgba(253, 35, 35, 0.93);
    }
  </style>
</head>
<body>
<header>
  <div class="red">
    <h1>CANJEA TU PROMOCIÓN</h1>
    <div style="display: flex; justify-content: center; align-items: center; gap: 30px; margin: 20px">
      <img style="height: 25px" src="{{ loadResource '/assets/images/reservandonos.png' }}">
      <img style="height: 25px" src="{{ loadResource '/assets/images/coca-cola.png' }}">
    </div>
  </div>
  <div>¡AQUÍ TIENES TU CÓDIGO!</div>
</header>

<main>
  <p id="invitation">Te invitamos a revisar y aplicar las recomendaciones de las autoridades
    de salud para evitar los riesgos ante emergencia sanitaria por COVID-19</p>

  <div id="restaurante">
    <img class="logo" src="{{ loadResource place.logo }}">
    <div class="description">
      <h3>{{ place.name }}</h3>
      <h5>Promoción válida desde el {{ promotion.start }} - {{ promotion.end }}</h5>
    </div>
  </div>

  <div id="promotion">
    <div class="left">
      <img class="logo" src="{{ loadResource promotion.logo }}">
      <p>{{ promotion.title }}</p>
    </div>
    <div class="right">
      <div class="description">
        <h3>Cobertura</h3>
        <h5>{{ place.address }}</h5>
      </div>
      <div class="description">
        <h3>Restricciones</h3>
        <h5>Válido al solicitar el beneficio y presentar código digital o impreso. </h5>
        <h5>No aplica en entregas a domicilio. No aplica con otras promociones y/o descuentos.</h5>
      </div>
    </div>
  </div>

  <h2 id="code">Código o Folio: <strong>{{ coupon.code }}</strong></h2>
</main>
</body>
</html>
