<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{bookerControlLogo}}" style="width: 250px">
    </div>
    <p style="color:#767676">¡Hola!, para activar tu sistema por favor registra una tarjeta para el cobro recurrente.</p>
    <p>En esta tarjeta se realizará un cobro mensual de ${{monthlyPlanPrice}}.</p>
    <div>
      <a href="https://sistema.reservandonos.com/#/activate/{{urlData}}" style="background-color:#e94363;color:#fff;text-decoration:none;padding:10px 20px;margin:10px;display:inline-block;border-radius:5px">Ingresar tarjeta</a>
    </div>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
  </div>
</div>
