<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, te han obsequiado una tarjeta de regalo para {{place}}.</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Detalles de la tarjeta de regalo</div>
      <div>Lugar: {{place}}</div>
      <div>Beneficiario: {{name}}</div>
      <div>Bono de regalo: ${{amount}}</div>
      <div>Código: {{token}}</div>
    </div>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
  </div>
</div>