<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hay una nueva reservación para {{place}}.</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Detalles de la reservación</div>
      <div>Lugar: {{place}}</div>
      <div>Fecha: {{date}}</div>
      <div>Hora: {{time}}</div>
      <div>Personas: {{peopleCount}}</div>
      <div>Área: {{smokeArea}}</div>
      <div>Cliente: {{name}}</div>
      <div>Teléfono: {{phone}}</div>
      <div>Correo electrónico: {{email}}</div>
      <div>Comentarios: {{comments}}</div>
    </div>
  </div>
</div>