<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, hemos recibido una solicitud para cambiar tu contraseña.</p>
    <p style="color:#767676">Si no has sido tu ignora este mensaje, tu cuenta está a salvo.</p>
    <p style="color:#767676">Este mensaje es válido solo por 24 horas.</p>
    <p style="color:#767676">Para cambiar tu contraseña da click en el siguiente botón.</p>
    <div>
      <a href="https://sistema.reservandonos.com/#/auth/password-reset/{{resetToken}}" style="background-color:#e94363;color:#fff;text-decoration:none;padding:10px 20px;margin:10px;display:inline-block;border-radius:5px">Cambiar contraseña</a>
    </div>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
  </div>
</div>
