<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, hemos intentado todo para poder encontrar un lugar en la hora que nos solicitaste pero estamos llenos.</p>
    <p style="color:#e94364;font-weight:bold">Se canceló tu reservación</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Motivo de cancelación: Restaurante lleno</div>
      <div>Lugar: {{place}}</div>
      <div>Fecha: {{date}}</div>
      <div>Hora: {{time}}</div>
      <div>Personas: {{peopleCount}}</div>
      <div>Área: {{smokeArea}}</div>
      <div>Comentarios: {{notes}}</div>
    </div>
    <p style="color:#767676">Te recomendamos visitar nuestra página para buscar otro lugar cerca de la zona que deseas asistir o llamar directamente a nuestro equipo de concierge para que tramite tu reservación al {{phone}}.</p>
    {{#if bannerLinkTo}}
    <p style="color:#767676">Gracias a esta reserva con Coca Cola y Reservándonos tienes acceso a una cuponera digital con grandes promociones. Solo da clic en la imagen</p>
    <a href="{{bannerLinkTo}}">
        <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
    </a>
    {{/if}}
  </div>
  </div>