<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, gracias por reservar en {{place}}, se ha confirmado tu reservación.</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Detalles de la reservación</div>
      <div>Lugar: {{place}}</div>
      <div>Fecha: {{date}}</div>
      <div>Hora: {{time}}</div>
      <div>Personas: {{peopleCount}}</div>
      <div>Área: {{smokeArea}}</div>
      <div>Comentarios: {{notes}}</div>
    </div>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
    {{#if productSponsor}}
    <div>
      <div style="font-weight:bold;margin-bottom: 10px">Restricciones para promoción de CocaCola</div>
      <ul style="list-style: none; padding-left: 0;">
        <li>Solo aplica para restaurantes participantes</li>
        <li>No aplica para reservas duplicadas con otras plataformas</li>
        <li>Hasta agotar existencias</li>
      </ul>
    </div>
    {{/if}}
    {{#if sponsorCocaUrl}}
    <div style="padding-top: 1em; text-align: center; width: 100%;">
      <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
      <div>
        <a href="{{sponsorCocaUrl}}" type="button"
           style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
           Descargar Menú
        </a>
      </div>
    </div>
    {{/if}}
    {{#if bannerLinkTo}}
    <p style="color:#767676">Gracias a esta reserva con Coca Cola y Reservándonos tienes acceso a una cuponera digital con grandes promociones. Solo da clic en la imagen</p>
    <a href="{{bannerLinkTo}}">
        <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
    </a>
    {{/if}}
  </div>
</div>
