<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, gracias por reservar en {{place}}, se ha confirmado tu reservación.</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Detalles de la reservación</div>
      <div>Lugar: {{place}}</div>
      <div>Fecha: {{date}}</div>
      <div>Hora: {{time}}</div>
      <div>Personas: {{peopleCount}}</div>
      <div>Área: {{smokeArea}}</div>
      <div>Zona: {{zone}}</div>
      <div>Forma de la mesa: {{tableType}}</div>
      <div>Altura de la mesa: {{tableHeight}}</div>
      <div>Comentarios: {{notes}}</div>
    </div>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
  </div>
</div>