<div style="text-align: center;">
<div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
  <div style="text-align: center">
    <img src="{{logoImage}}" style="width: 250px">
  </div>
  <p style="color:#767676">Hello {{name}}, we have received your pre-reservation for {{place}} and we are looking for a space to give you the best experience.</p>
  <p style="color:#767676">In a period of approximately 15 minutes we will confirm availability to guarantee your place.</p>
  <p style="color:#767676">For any questions or clarifications please contact {{phone}}.</p>
  {{#if sponsorCocaUrl}}
  <div style="padding-top: 1em; text-align: center; width: 100%;">
    <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
    <div>
      <a href="{{sponsorCocaUrl}}" type="button"
         style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
         Download Menu
      </a>
    </div>
  </div>
  {{/if}}
  {{#if bannerLinkTo}}
  <p style="color:#767676">Thanks to this reservation with Coca Cola and Reservándonos us you have access to a digital coupon with great promotions. Just click on the image</p>
  <a href="{{bannerLinkTo}}">
      <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
  </a>
  {{/if}}
</div>
</div>
