<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu reserva está confirmada</title>
</head>
<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#F1F2F4">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="600"
                    style="border-collapse: collapse; margin-bottom: 32px;">
                    <tr>
                        <td style="padding: 32px 0 32px 0;" align="center">
                            <a href="{{website}}">
                                <img src="{{logoImage}}"
                                    alt="logo {{place}}" style="display: block;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="line-height: 36px; text-align: center; font-size: 28px; color: rgb(45, 51, 63);">Reserva confirmada</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 16px;" valign="top" align="center">
                                        <span style="font-size: 16px;font-weight: normal;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Gracias por reservar con nosotros</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span style="font-size: 18px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;" >{{place}}</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="font-size: 16px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Mesa para {{peopleCount}}, {{date}} a las {{time}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: top;" valign="top" align="center">
                                        <span style="font-size: 14px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">
                                            <span>A nombre de</span>: <span>{{name}}</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="font-size: 12px;line-height: 17px;text-align: center;">{{address}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px;text-align: center;vertical-align: top;" valign="top" align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span style="font-size: 14px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;" >Ir a sitio web</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <span style="font-size: 18px;text-align: left;color: rgb(35, 123, 152);line-height: 24px;">Información importante</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; line-height: 20px;">
                                        <span style="font-size: 14px;">Solo cuenta con 10 minutos para conservar su reserva. Si va con un mayor tiempo de atraso, por favor llámenos.<br>Es posible que lo contactemos por esta reservación, por lo que le pedimos que su correo electrónico y número de teléfono estén actualizados</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;" >
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="font-size: 14px;" width="75%">¿Dudas? Llámanos al {{phone}}</td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
											<tr>
                                                {{#if facebook}}
												<td>
                                                    <a href="{{facebook}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-facebook.png" alt="Facebook" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if instagram}}
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{instagram}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-instagram.png" alt="Instagram" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if twitter}}
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{twitter}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-twitter.png" alt="Twitter" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                {{/if}}
											</tr>
										</table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <span style="font-size: 10px;">¿No deseas recibir más correos relacionados con esta reserva? Haz click <a href="{{unsubscribeRes}}">aquí</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; line-height: 20px;">
                                        <span style="font-size: 10px;">Si no deseas recibir ningún correo de {{place}}, sigue este <a href="{{unsubscribePlace}}">enlace</a></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {{#if productSponsor}}
                    <tr>
                        <td style="padding-top: 1em; text-align: center; width: 100%;">
                            <div style="font-weight:bold;margin-bottom: 10px">Restricciones para promoción de Coca Cola</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            Solo aplica para restaurantes participantes
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            No aplica para reservas duplicadas con otras plataformas
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            Hasta agotar existencias
                        </td>
                    </tr>
                    {{/if}}
                    {{#if sponsorCocaUrl}}
                    <tr>
                      <td style="padding-top: 1em; text-align: center; width: 100% !important;">
                        <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
                        <div>
                          <a href="{{sponsorCocaUrl}}" type="button" style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
                             Descargar Menú
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/if}}
                    {{#if bannerLinkTo}}
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 14px;">Gracias a esta reserva con Coca Cola y Reservándonos tienes acceso a una cuponera digital con grandes promociones. Solo da clic en la imagen</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 32px 0 32px 0;max-width: 100%;" align="center">
                            <a href="{{bannerLinkTo}}">
                                <img src="{{bannerImageUrl}}" alt="promo" style="display: block; max-width: 400px;">
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
