<div style="text-align: center;">
<div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
  <div style="text-align: center">
    <img src="{{logoImage}}" style="width: 250px">
  </div>
  <p style="color:#767676">Hola {{name}}, hemos recibido tu pre-reservacion para {{place}} y estamos buscando un espacio para brindarte la mejor experiencia.</p>
  <p style="color:#767676">En un plazo aproximado de 15 minutos te confirmaremos la disponibilidad para poder garantizar tu lugar.</p>
  <p style="color:#767676">Para cualquier duda o aclaracion por favor comunicate al {{phone}}.</p>
  {{#if sponsorCocaUrl}}
  <div style="padding-top: 1em; text-align: center; width: 100%;">
    <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
    <div>
      <a href="{{sponsorCocaUrl}}" type="button"
         style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
         Descargar Menú
      </a>
    </div>
  </div>
  {{/if}}
  {{#if bannerLinkTo}}
  <p style="color:#767676">Gracias a esta reserva con Coca Cola y Reservándonos tienes acceso a una cuponera digital con grandes promociones. Solo da clic en la imagen</p>
  <a href="{{bannerLinkTo}}">
      <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
  </a>
  {{/if}}
</div>
</div>
