<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your reservation is confirmed</title>
</head>
<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#F1F2F4">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="600"
                    style="border-collapse: collapse; margin-bottom: 32px;">
                    <tr>
                        <td style="padding: 32px 0 32px 0;" align="center">
                            <a href="{{website}}">
                                <img src="{{logoImage}}"
                                    alt="logo {{place}}" style="display: block;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="line-height: 36px; text-align: center; font-size: 28px; color: rgb(45, 51, 63);">Confirmed reservation</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 16px;" valign="top" align="center">
                                        <span style="font-size: 16px;font-weight: normal;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Thanks for booking with us</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span style="font-size: 18px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;" >{{place}}</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="font-size: 16px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Table for {{peopleCount}}, {{date}} at {{time}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: top;" valign="top" align="center">
                                        <span style="font-size: 14px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">
                                            <span>To name</span>: <span>{{name}}</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <span style="font-size: 12px;line-height: 17px;text-align: center;">{{address}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px;text-align: center;vertical-align: top;" valign="top" align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span style="font-size: 14px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;" >Go to website</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <span style="font-size: 18px;text-align: left;color: rgb(35, 123, 152);line-height: 24px;">Important information</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; line-height: 20px;">
                                        <span style="font-size: 14px;">You only have 10 minutes to keep your reservation. If you are more late, please call us. <br> We may contact you about this reservation, so we ask that your email and phone number are updated</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;" >
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="font-size: 14px;" width="75%">Doubts? Call us at {{phone}}</td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
											<tr>
                                                {{#if facebook}}
												<td>
                                                    <a href="{{facebook}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-facebook.png" alt="Facebook" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if instagram}}
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{instagram}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-instagram.png" alt="Instagram" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if twitter}}
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{twitter}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-twitter.png" alt="Twitter" width="32" height="32" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                {{/if}}
											</tr>
										</table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <span style="font-size: 10px;">Don't you want to receive more emails related to this reservation? click<a href="{{unsubscribeRes}}">here</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; line-height: 20px;">
                                        <span style="font-size: 10px;">If you do not want to receive any mail from {{place}}, follow this <a href="{{unsubscribePlace}}">link</a></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {{#if productSponsor}}
                    <tr>
                        <td style="padding-top: 1em; text-align: center; width: 100%;">
                            <div style="font-weight:bold;margin-bottom: 10px">Coca Cola promotion restrictions</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            Only applies to participating restaurants
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            Does not apply to duplicate reservations with other platforms
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 100%;">
                            While stocks last
                        </td>
                    </tr>
                    {{/if}}
                    {{#if sponsorCocaUrl}}
                    <tr>
                      <td style="padding-top: 1em; text-align: center; width: 100%;">
                        <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
                        <div>
                          <a href="{{sponsorCocaUrl}}" type="button" style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
                             Download Menu
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/if}}
                    {{#if bannerLinkTo}}
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 14px;">Thanks to this reservation with Coca Cola and Reservandonos us you have access to a digital coupon with great promotions. Just click on the image</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 32px 0 32px 0;max-width: 100%;" align="center">
                            <a href="{{bannerLinkTo}}">
                                <img src="{{bannerImageUrl}}" alt="promo" style="display: block;">
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
