<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirma tu asistencia</title>
</head>

<body style="margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#F1F2F4">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" width="600"
                    style="border-collapse: collapse; margin-bottom: 32px;">
                    <tr style="background-color: {{primaryColor}};">
                        <td style="padding: 32px 0 32px 0;" align="center">
                            <a href="{{website}}">
                                <img src="{{logoImage}}" alt="{{place}}" style="display: block;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table cellpadding="0" cellspacing="0" width="100%"
                                style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top"
                                        align="center">
                                        <span
                                            style="line-height: 36px; text-align: center; font-size: 28px; color: rgb(45, 51, 63);">Tienes una reserva para hoy</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top" align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span style="font-size: 18px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;" >{{place}}</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 16px;"
                                        valign="top" align="center">
                                        <span
                                            style="font-size: 16px;font-weight: normal;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Por
                                            favor, confirma tu asistencia</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top"
                                        align="center">
                                        <a href="https://bookercontrol.com/#/reservations/{{urlData}}/confirm" style="background-color:#e94363;color:#fff;text-decoration:none;padding:10px 20px;margin:10px;display:inline-block;border-radius:5px">Confirmar reservación</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top"
                                        align="center">
                                        <a href="https://bookercontrol.com/#/reservations/{{urlData}}/cancel" style="background-color:#b7b7b7;color:#fff;text-decoration:none;padding:10px 20px;margin:10px;display:inline-block;border-radius:5px">Cancelar reservación</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top"
                                        align="center">
                                        <span
                                            style="font-size: 16px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">Mesa
                                            para {{peopleCount}}, {{date}} a las {{time}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: top;" valign="top" align="center">
                                        <span
                                            style="font-size: 14px;color: rgb(45, 51, 63);line-height: 24px;text-align: center;">
                                            <span>A nombre de</span>: <span>{{name}}</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;vertical-align: top;padding-bottom: 8px;" valign="top"
                                        align="center">
                                        <span
                                            style="font-size: 12px;line-height: 17px;text-align: center;">{{address}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0px;text-align: center;vertical-align: top;" valign="top"
                                        align="center">
                                        <a href="{{website}}" style="text-decoration: none;color: #DA3743;">
                                            <span
                                                style="font-size: 14px;font-weight: normal;color: rgb(218, 55, 67);line-height: 24px;text-align: center;">Visita nuestra página</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <span
                                            style="font-size: 18px;text-align: left;color: rgb(35, 123, 152);line-height: 24px;">Información
                                            importante</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top; line-height: 20px;">
                                        <span style="font-size: 14px;">Solo cuenta con 10 minutos para conservar su
                                            reserva. Si va con un mayor tiempo de atraso, por favor llámenos.<br>Es
                                            posible que lo contactemos por esta reservación, por lo que le pedimos que
                                            su correo electrónico y número de teléfono estén actualizados</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 32px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" style="padding: 30px;">
                            <table style="font-family: Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td style="font-size: 14px;" width="75%">¿Dudas? Llámanos al {{phone}}</td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                {{#if facebook}}
                                                <td>
                                                    <a href="{{facebook}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-facebook.png"
                                                            alt="Facebook" width="32" height="32"
                                                            style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if instagram}}
                                                <td
                                                    style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{instagram}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-instagram.png"
                                                            alt="Instagram" width="32" height="32"
                                                            style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                {{/if}}
                                                {{#if twitter}}
                                                <td
                                                    style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="{{twitter}}" style="color: #ffffff;">
                                                        <img src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/icon-twitter.png"
                                                            alt="Twitter" width="32" height="32" style="display: block;"
                                                            border="0" />
                                                    </a>
                                                </td>
                                                {{/if}}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>