<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hello {{name}}, thank you for booking at {{place}}, your reservation has been confirmed.</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Reservation details</div>
      <div>Place: {{place}}</div>
      <div>Date: {{date}}</div>
      <div>Hour: {{time}}</div>
      <div>People: {{peopleCount}}</div>
      <div>Area: {{smokeArea}}</div>
      <div>Comments: {{notes}}</div>
    </div>
    <p style="color:#767676">For any questions or clarification please contact {{phone}}.</p>
    {{#if productSponsor}}
    <div>
      <br>
      <div style="font-weight:bold;margin-bottom: 10px">Coca Cola promotion restrictions</div>
      <ul style="list-style: none; padding-left: 0;">
        <li>Only applies to participating restaurants</li>
        <li>Does not apply to duplicate reservations with other platforms</li>
        <li>While stocks last</li>
      </ul>
    </div>
    {{/if}}
    {{#if sponsorCocaUrl}}
    <div style="padding-top: 1em; text-align: center; width: 100%;">
      <img style="max-width: 100%; width: 70px;" src="https://reservandonos-cdn.s3-us-west-2.amazonaws.com/icons/Coca-Cola_logo.png" alt="logo coca cola">
      <div>
        <a href="{{sponsorCocaUrl}}" type="button"
           style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); background-color: #e43d59;color: white; display: block; font-family: verdana; font-weight: bold; font-size: 1.2em; margin: auto; max-width: 200px; padding: 0.5em; border-radius: 0.5em; text-decoration: none;">
           Download Menu
        </a>
      </div>
    </div>
    {{/if}}
    {{#if bannerLinkTo}}
    <p style="color:#767676">Thanks to this reservation with Coca Cola and Reserving us you have access to a digital coupon with great promotions. Just click on the image</p>
    <a href="{{bannerLinkTo}}">
        <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
    </a>
    {{/if}}
  </div>
</div>
