<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hi {{name}}, we have tried everything to find a place at the time you requested but we are full.</p>
    <p style="color:#e94364;font-weight:bold">Your reservation was canceled</p>
    <div style="border:thin solid #dadce0;border-radius:8px;padding:20px;margin:0 10%">
      <div style="font-weight:bold;margin-bottom: 10px">Reason for cancellation: Full restaurant</div>
      <div>Place: {{place}}</div>
      <div>Date: {{date}}</div>
      <div>Hour: {{time}}</div>
      <div>People: {{peopleCount}}</div>
      <div>Area: {{smokeArea}}</div>
      <div>Comments: {{notes}}</div>
    </div>
    <p style="color:#767676">We recommend you visit our page to find another place near the area you want to attend or call our concierge team directly to process your reservation at {{phone}}.</p>
    {{#if bannerLinkTo}}
    <p style="color:#767676">Thanks to this reservation with Coca Cola and Reservandonos us you have access to a digital coupon with great promotions. Just click on the image</p>
    <a href="{{bannerLinkTo}}">
        <img src="{{bannerImageUrl}}" alt="promo" style="display: block;max-width: 100%;">
    </a>
    {{/if}}
  </div>
  </div>
