<div style="text-align: center;">
    <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
        <div style="text-align: center">
        <img src="{{bookerControlLogo}}" style="width: 250px">
        </div>
        <p style="color:#767676">{{message}}</p>
        <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
    </div>
</div>