<div style="text-align: center;">
  <div style="text-align:center;display:inline-block;margin:32px 0;width:100%;max-width:516px;min-width:220px;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
    <div style="text-align: center">
      <img src="{{logoImage}}" style="width: 250px">
    </div>
    <p style="color:#767676">Hola {{name}}, acabas de entrar en la LISTA DE ESPERA de {{place}}.</p>
    <p style="color:#767676">Vamos a hacer todo lo posible para conseguirte un lugar.</p>
    <p style="color:#767676">En caso de una liberación de espacio nos comunicaremos de manera inmediata.</p>
    <p style="color:#767676">Para cualquier duda o aclaración por favor comunícate al {{phone}}.</p>
  </div>
</div>