@font-face {
    font-family: Omnes;
    src: url("omnes/omnes-regular-webfont.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Omnes;
    src: url("omnes/omnes-semibold-webfont.ttf") format("truetype");
    font-weight: 700;
}
